*.iml
*.jks
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build/
**/.kotlin/
**/.gradle/
**/node_modules/
**/oh_modules/
**/.hvigor/
**/local.properties
**/DerivedData/
**/xcuserdata/
**/.cxx/
/harmonyApp/entry/libs/
/harmonyApp/entry/src/main/cpp/include/
/harmonyApp/entry/src/main/resources/rawfile/composeResources/
/.playwright-cli/
/output/
/captures
.externalNativeBuild
/buildSrc/build/pluginUnderTestMetadata/
